@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --add-button: #ee9ca7;
    --add-button-shadow: rgba(238, 156, 167,0.4);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701223994) 13%, rgba(255, 122, 151, 0.5) 4%),linear-gradient(44deg, rgba(0, 43, 99, 0.07922090238615942) 39%, rgba(242, 140, 143, 0.5) 18%),linear-gradient(118deg, rgba(84, 202, 242, 0.03152997265339608) 40%, rgba(247, 155, 187, 0.5) 54%),linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%); background-blend-mode: normal,lighten,multiply,hard-light;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

input#btn-create {
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

.app-container {
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
    max-height: 100%;
    background-color: #10101d;
    padding: 24px;
    overflow: auto;
}

.app-header {
    font-size: 200%;
    line-height: 32px;
    margin: 0 0 12px 0;
    text-align: center;
    color: #fff;
}

.submit-task {
    width: 80px;
    height: 35px;
    flex-shrink: 0;
    border: none;
    background: var(--add-button);
    color: #fff;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 11%;
    cursor: pointer;
    box-shadow: 0 0 12px 0 var(--add-button-shadow);
    font-size: 110%;
}

.add-task {
    height: 40px;
    font-size: 14px;
    /* display:; */
}

.task-input {
    margin-bottom: 3px;
    border-right: none;
    width: 100%;
    padding: 0 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    margin-right: 12px;
    color: #fff;
    box-shadow: none;
    border-radius: 0;

}

.task-list-item {
    background-color: #191933;
    border-radius: 4px;
    margin-bottom: 12px;
    align-items: center;
    text-align: center;
    padding: 8px;

}

.delete-btn {
    margin-left: auto;
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    cursor: pointer;
}

form#create-form{
    text-align: center;
}

form#mod-form{
    margin-top: 3%;
    margin-bottom:3%;
}

#edit,#delete,#status{
    background-color: pink;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
